<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  throwConfigExceptions="true">

	<targets async="true">
		<target xsi:type="AsyncWrapper" name="asyncdatabase" queueLimit="50000" overflowAction="Block">
			<target name="database" xsi:type="Database" keepConnection="true"  dbProvider="System.Data.SqlClient"
					connectionString="data source=192.168.1.2;initial catalog=R2PrimaryLogging;integrated security=false;persist security info=True;User ID=sa;Password=Biinfo878"
			    	commandType="StoredProcedure"
					commandText="WriteLog">
				<parameter name="@LogTypeId" layout="${event-properties:LogTypeId}" dbType="DbType.Int64"/>
				<parameter name="@Description" layout="${message}" dbType="DbType.String"/>
				<parameter name="@MessageDetail1" layout="${event-properties:MessageDetail1}" dbType="DbType.String"/>
				<parameter name="@MessageDetail2" layout="${event-properties:MessageDetail2}" dbType="DbType.String"/>
				<parameter name="@MessageDetail3" layout="${event-properties:MessageDetail3}" dbType="DbType.String"/>
				<parameter name="@UserId" layout="${event-properties:UserId}" dbType="DbType.Int64"/>

			</target>
		</target>
		<target xsi:type="AsyncWrapper" name="asyncFile" queueLimit="50000" overflowAction="Block">
			<target name="logfile" xsi:type="File" fileName="Logging${Shortdate}.txt" layout="`${longdate}|${message:withexception=true}`" />
		</target>
	</targets>

	<rules>
		<logger name="*" level="Info" writeTo="database" />
		<logger name="*" level="Error" writeTo="logfile" />
	</rules>
</nlog>
