<Configurations>
	<APIs>
		<APISoftwareUser>
			<URI>Http://192.168.1.2:81</URI>
		</APISoftwareUser>
		<APIDateTime>
			<URI>Http://192.168.1.2:89</URI>
		</APIDateTime>
	</APIs>
	<ConnectionStrings>
		<R2PrimarySMSSystem>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimarySMSSystem;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimarySMSSystem;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</R2PrimarySMSSystem>
		<R2Primary>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2Primary;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2Primary;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</R2Primary>
		<DBTransport>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=DBTransport;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=DBTransport;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</DBTransport>
		<R2PrimaryParkingSystem>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimaryParkingSystem;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimaryParkingSystem;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</R2PrimaryParkingSystem>
		<R2PrimaryTransportationAndLoadNotification>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimaryTransportationAndLoadNotification;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=R2PrimaryTransportationAndLoadNotification;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</R2PrimaryTransportationAndLoadNotification>
		<TDBClient>
			<TransactionConnectionString>Data Source=192.168.1.2;Initial Catalog=TDBClient;Persist Security Info=True;User ID=sa;Password=Biinfo878</TransactionConnectionString>
			<SubscriptionConnectionString>Data Source=192.168.1.2;Initial Catalog=TDBClient;Persist Security Info=True;User ID=sa;Password=Biinfo878</SubscriptionConnectionString>
		</TDBClient>
		
	</ConnectionStrings>
</Configurations>
